.Header {
    display: flex;
    /* position: sticky;
    top: 0; */
    background-color: white;
}

.navigation {
    display: flex;
    position: absolute;
    right: 0;
    padding-top: 5%;
}

.navigation > p {
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .header_logo {
        width: 50%;
    }

    .navigation {
        flex-direction: column;
    }   

}