.Shopping-list {
    display: flex;
    justify-content: center;
}

.introVideo {
    display: flex;
    justify-content: center;
}

video {
    width: 80vw
}

.shopItemsHeader {
    padding-left: 4%;
    padding-right: 4%;
    font-size: 28px;
    font-weight: 500;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addNewItem > input {
    margin: 20px;
    border: none;
    border-bottom: 2px solid rebeccapurple;
}

.listItems {
    display: flex;
    justify-content: center;
}

input::placeholder {  
                  
    /* Firefox, Chrome, Opera */ 
    text-align: Center;
} 

.listItems > p {
    padding-left: 20px;
    padding-right: 20px;
}

.addNewItem {
    display: flex;
}

.addItemButton {
    padding: 3%;
    border-radius: 50%;
    margin: 20px;
    border: none;
    background-color: black;
    color: white;
}

.addListBtn {
    padding: 3%;
    margin: 20px;
    border: none;
    background-color: rebeccapurple;
    color: white;
    height: 50px;
    width: 150px;
}

.Home > input {
    border: none;
}

.addListButton {
    padding: 20px;
    width: 100px;
    height: 100px;
}

.inner-List {
    margin: 5%;
    background-color: black;
    color: white;
    margin-left: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tableHeader > p {
    padding: 5px;
    font-weight: 800;
    justify-content: center;
}

.tableHeader {
    display: flex;
    padding-left: 12px;
}

.Previous-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .addNewItem {
        flex-direction: column;
    }

    .addItemButton {
        border-radius: 0%;
    }

    .shopItemsHeader {
        padding-top: 5px;
    }

    .introVideo {
        margin-top: 50px;
    }
}